@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-screen {
        @apply min-w-68 w-84vw md:w-168;
    }
    .w-field {
        @apply w-78vw md:w-144;
    }
    .h-field {
        @apply h-78vw2/3 md:h-96;
    }
    .w-thumbnail {
        @apply w-30vw md:w-48;
    }
    .h-thumbnail {
        @apply h-30vw2/3 md:h-32;
    }
    .w-print-field {
        @apply w-144;
    }
    .h-print-field {
        @apply h-96;
    }
    .w-print-thumbnail {
        @apply w-48;
    }
    .h-print-thumbnail {
        @apply h-32;
    }
    .font-h2 {
        @apply py-4 font-bold text-lime-600;
    }
    .font-p {
        @apply pb-4 text-sm;
    }
    .font-btn {
        @apply text-sm text-slate-600;
    }
    .font-bg {
        @apply stroke-white stroke-3;
        stroke-linejoin: round;
    }
    .font-help-h2 {
        @apply p-4 text-2xl font-bold;
    }
    .font-help-h3 {
        @apply pb-4 text-lg font-bold;
    }
    .font-help-sm {
        @apply pb-4 px-8 text-sm text-zinc-600;
    }
    .font-help-link {
        @apply text-lime-600
    }
    .help-image {
        @apply mt-4 mb-6 px-4 w-field rounded-lg bg-slate-900 flex justify-center;
    }
    .btn-lime {
        @apply py-3 px-5 bg-lime-600 text-white font-semibold rounded-lg shadow-md hover:bg-lime-500 border-none;
    }
    .new-mark {
        @apply top-76vh left-80vw lg:left-max;
    }
    .longpress-none {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    .anchor {
        @apply pt-28 -mt-28 outline-none;
    }
}
