- marks_keys = %w[id description trimming location created_at]
- marks = @room.map.marks.order(:created_at).map do |mark| \
    hash = mark.attributes.filter { |k, _| marks_keys.include?(k) }; \
    hash[:image_url] = url_for mark.image if mark.image.present?; \
    hash \
  end
- map_keys = %w[id trimming]
- map = @room.map.attributes.filter {|k,_| map_keys.include?(k)}
- map[:image_url] = url_for @room.map.image if @room.map.image.present?
#reports-index(
room_id="#{@room.id}"
marks="#{marks.to_json}"
map="#{map.to_json}"
)
